.animateText {
  margin-top: 0px;
  // margin-bottom: 0px;
  overflow: hidden;
  white-space: nowrap;
  animation: example 4s linear 0s;
  align-self: center;
  color: rgb(255, 255, 255);
  font-family: 'Courier';
  font-size: 20px;
  margin: 10px 0 0 10px;
  padding: 5px;
  padding-top: 0px;
}
// p{
//     color: Pink;
//     font-family: "Courier";
//     font-size: 20px;
//     margin: 10px 0 0 10px;
//     white-space: nowrap;
//     overflow: hidden;
//     width: 30em;
//     animation: type 4s steps(60, end);
//   }
@keyframes example {
  from {
    width: 0;
  }
  to {
    width: 30vw;
  }
}

ul {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 0px;
  height: 150px;
  width: 90%;
  list-style-type: none;
  padding-left: 25px;
}

li {
  border: 1px solid transparent;
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  transition: background-color 0.5s ease-in;
  &:hover {
    background-color: rgba(128, 128, 128, 0.225);
    cursor: pointer;
  }
}
